  <li class="main_content  img-rounded">
      <a href="">
          <div class="main_c_left">
          <%= image_tag("profile.jpg", size: "50x50", class: 'img-circle' , style: 'margin-right:10px;', alt: "profile") %>
          </div>

              <div class="main_c_right"><time class="t_line_time">2016/1/19</time><h5 class="t_line_name"></h5>
                  <h4 class="t_title">トレーニングタイトル</h4>
                 <%= image_tag("photo.jpg", class: 't_photo' , alt: "img") %>
                  <p><%=post.post%></p>
              </div>
      </a>
    </li>