
      <div class="maincullumn col-md-8 col-xs-12" >

          <div class="main_content_top img-rounded clearfix">



<ul class="">

      <% @posts.each do |post| %>
      <li>
       <p><%=post.title%></p>
       <p><%=post.post%></p>
      </li>
      <% end %>
</ul>














          </div>
 </div><!-- maincullumn-end -->



<div class="sidecullumn col-md-4 col-xs-12" >
        <div class="profile_content img-rounded">

        </div><!--profile_content-->


        <div class="side_content img-rounded">
        </div>
 </div>