<div class="col-md-2 col-xs-0"></div>
    <div class="maincullumn col-md-8 col-xs-12" >
       <div class="main_content_top img-rounded clearfix">

    <h3>回答の作成が完了しました。</h3>
    <span>他の人の回答を見る</span>
    <%= link_to "ホームに戻る", root_path %>



      </div>
  </div>
<div class="col-md-2 col-xs-0"></div>