  <div class="col-md-1 col-xs-0"></div>
      <div class="maincullumn col-md-5 col-xs-6" >

          <div class="main_content_top img-rounded clearfix">



              <h2 class="h4" style="margin-bottom:20px">ユーザー新規登録</h2>
<%=link_to 'ユーザー登録', new_user_registration_path%>



          </div>


      </div><!-- maincullumn-end -->










<div class="sidecullumn col-md-5 col-xs-6" >

<div class="profile_content img-rounded">



<h2 class="h4" style="margin-bottom:20px">トレーナー新規登録</h2>
<%=link_to 'トレーナー登録', new_trainer_registration_path %>

    </div>
 <div class="col-md-1 col-xs-0"></div>
 </div>