<div class="col-md-1 col-xs-0"></div>
      <div class="maincullumn col-md-7 col-xs-12" >

          <div class="main_content_top img-rounded clearfix">


          </div>
     </div><!-- maincullumn-end -->










<div class="sidecullumn col-md-3 col-xs-12" >

<div class="profile_content img-rounded">



<h3 class="profile_name text-center">Help</h3>

      <p class="side_text">これはダミープロフィールです。ご注意ください。これはダミープロフィールです。ご注意ください。これはダミープロフィールです。ご注意ください。</p>
 </div>



    </div>
 <div class="col-md-1 col-xs-0"></div>
